body{
    margin: 0;
}
#header{
    height: 100px;
    width: 100%;
    background-color: blue;
    text-align: center;
}
#headText{
    text-align: center;
    color: white;
    font-family: "Microsoft YaHei";
    font-size: 50px;
    position: relative;
    top:20px;
}
#main{

}